.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.range-toolbar-left {
    margin-left: 80px;
}

.range-toolbar-right {
    margin-right: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}

.btn-primary {
    background-color: #0D5B9D;
    color: white;
    width: 200px;
}

.registerContainer {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    margin-top: 3%;
}

.hidden-th select {
    opacity: 0 !important;
}

body {
    padding-bottom: 70px;
}

